[run]
omit = */__init__.py
       */main.py
       */control/mpc_controller.py
       */record_experiments.py
       */simulation/recording.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
